DATABASE_URL=postgres://chinook_admin:chinook_admin@localhost:5432/chinook

CLIENT_ID=core
CLIENT_SECRET=AjsLf2pHDwMqoFIwGQSJlnr04GS8Oi9H
COOKIE_DOMAIN=app.127.0.0.1.nip.io

CALLBACK_URL=http://localhost:5173/auth/keycloak/callback
LOGOUT_URL=http://oidc.127.0.0.1.nip.io:8080/realms/tlmt/protocol/openid-connect/logout
BASE_AUTH_URL=http://oidc.127.0.0.1.nip.io:8080/realms/tlmt
METADATA_URL=http://oidc.127.0.0.1.nip.io:8080/realms/tlmt/.well-known/openid-configuration

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
KEYCLOAK_DATABASE_USER=postgres
KEYCLOAK_DATABASE_PASSWORD=keycloak_admin
KEYCLOAK_DATABASE_NAME=keycloak
KEYCLOAK_DATABASE_SCHEMA=keycloak
KC_DB_URL="jdbc:postgresql://postgres:5432/keycloak?currentSchema=keycloak"
KC_DB_USERNAME=keycloak_admin
KC_DB_PASSWORD=keycloak_admin

KEYCLOAK_DOMAIN=oidc.127.0.0.1.nip.io:8080
KEYCLOAK_REALM=tlmt
KEYCLOAK_USE_SSL=false
